
.home-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $spacing-md;
  background-color: $bg-color;
  text-align: center;
  font-family: $font-base;

  .logo {
    margin-bottom: $spacing-lg;
  }

  h1 {
    font-size: $font-size-lg;
    color: $header-color;
    margin-bottom: $spacing-lg;
    font-weight: $font-weight-bold;
    opacity: 0;
    animation: fadeInText 3s forwards;

    &.fade-out {
      animation: fadeOutText 1s forwards;
    }
  }

  .login-btn {
    background-color: $primary-btn-bg;
    color: $bg-ligher-color;
    padding: $spacing-sm $spacing-lg;
    border: none;
    border-radius: $border-radius-md;
    text-decoration: none;
    font-size: $font-size-md;
    font-weight: $font-weight-bold;
    transition: background-color $transition-base;

    &:hover {
      background-color: $primary-btn-hover-bg;
    }
  }

  // Fade In Effect
  @keyframes fadeInText {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  // Fade Out Effect
  @keyframes fadeOutText {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
