/* Breakpoint mixins */

@mixin breakpoint($size) {
  @if $size == xs {
    @media (max-width: $breakpoint-xs) {
      @content;
    }
  } @else if $size == sm {
    @media (max-width: $breakpoint-sm) {
      @content;
    }
  } @else if $size == md {
    @media (max-width: $breakpoint-md) {
      @content;
    }
  } @else if $size == lg {
    @media (max-width: $breakpoint-lg) {
      @content;
    }
  } @else if $size == xl {
    @media (min-width: $breakpoint-xl) {
      @content;
    }
  }
}

/* Media  Mixins */
@mixin aspect-ratio($width, $height) {
  position: relative;
  overflow: hidden;
  &::before {
    display: block;
    content: '';
    width: 100%;
    padding-top: calc(($height / $width) * 100%);
  }
  > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  > img {
    height: 100%;
    object-fit: cover;
  }
}

// Mixin for removing hover efects on iphone screen
@mixin hover-supported {
  @media not all and (pointer: coarse) {
    &:hover {
      @content;
    }
  }
}
