.shift-list {
  width: 70%;
  border-collapse: collapse;
  margin-top: $spacing-lg;
  font-family: $font-base;
  color: $text-color;

  &__header {
    background-color: $color-lightest;
  }

  &__row {
    &:nth-child(even) {
      background-color: $color-lightest;
    }
  }

  &__heading,
  &__cell {
    padding: rem(5px);
    text-align: center;
  }

  &__edit-btn {
    padding: 6px 12px;
    background-color: $accent-color;
    color: $color-lighter;
    border: none;
    border-radius: $border-radius-md;
    cursor: pointer;
    font-weight: 400;

    &:hover {
      background-color: #2980b9;
    }
  }

  &__loading {
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
    color: #555;
  }
}

.user-cell-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  .user-name-cell {
    display: flex;
    justify-content: center;
  }
}
